html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image: url("/jdcell-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px;
  background-color: red;
}